Source: kbt
Section: utils
Priority: optional
Maintainer: Laurent Lavaud <l.lavaud@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://llavaud.github.io/kbt
Vcs-Git: git@github.com:llavaud/kbt.git
Vcs-Browser: https://github.com/llavaud/kbt

Package: kbt
Architecture: all
Depends: perl (>=5.10), libhttp-message-perl, libjson-perl, libwww-perl, libfile-which-perl
Recommends: awscli
Description: kbt - Kibana Backup Tool
 This script allow to list, export and import kibana resources (search, visualization and dashboard).
